.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f4f4f4;
  overflow-x: hidden;
  transition: 0.5s;
  /* padding-top: 60px; */
}
.sidenav-open {
  width: 18%;
}

.menu-item {
  padding-top: 4%;
}

.menu-item span {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.selected-menu {
  color: rgb(0, 141, 204) !important;
  font-weight: bold;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
