.header-close-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.header-span-close {
  color: rgb(0, 141, 204);
  font-size: 20px;
}
.fa-icon-close {
  font-size: 23px;
}
