.infobox-wrapper {
  -webkit-box-shadow: 5px 5px 15px 5px #f3f3f3;
  box-shadow: 5px 5px 15px 5px #f3f3f3;
  height: 250px;
  width: 400px;
  margin-top: 20px;
  border: 1px solid #f6f6f6;
}
.infobox-count {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-evenly;
  align-items: center;
}
.infobox-count-span {
  font-size: 48px;
  font-weight: 800;
}
.infobox-new-case-span {
  font-size: 24px;
  font-weight: 800;
  padding-left: 8px;
}
.infobox-icon-wrapper {
  display: flex;
  align-items: center;
}

.icon-size-increment {
  color: red;
  font-weight: 800;
  font-size: 48px;
}
