.checker-container {
  /* display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column; */
  /* flex-flow: column-reverse; */
}
.quest-card {
}

.action-container {
  /* border: 1px solid red; */
  border-top: 1px solid rgb(0, 141, 204);
  padding: 2px;
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
}
